<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename = 'app.js')}}"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cool animals</title>
</head>

<body onload="$('.carousel').carousel({
  interval: 70
})">
  <a name="top"></a>
  <div class="flexmain">
  <nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid">
      <b class="navbar-brand white">Nav</b>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{url_for('my_view.index')}}">Home</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('my_view.crab')}}">Crab</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('my_view.capybara')}}">Capybara</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('my_view.pelican')}}">Pelican</a>
          <a class="nav-link active" aria-current="page" href="{{url_for('my_view.pigeon')}}">Pigeon</a>
        </div>
      </div>
    </div>
  </nav>
</div>
{% block content %}
{% endblock %}
<footer><div class="flexmain">
  <div class="maincontent">
    <a href="#top">Return to top of page</a>
</div>
</div>
</footer>
</body>
</html>

